# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Python distribution/build files
build/
dist/
*.egg-info/